.form1
{
    background-color: aqua;
    width: 300px;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 1px 3px;
}
.form1 input
{
    width: 100%;
    height: 35px;
    margin-bottom: 5px;

}
.form1 input[type=submit]
{
    width: 120px;
    background-color: brown;
    border: 0px;
    padding: 8px 15px;
    border-radius: 20px;
    float:right;
    color:#fff ;
}
.errmsg
{
    color: red;
    margin-bottom: 20px;
}
.btn-mb
{
    margin-bottom: 30px;
}